<nav>
  <div class="input">
    <span>
      <fa-icon class= "icon" [icon]="faMagnifyingGlass"></fa-icon>
    </span>
    <input placeholder="Pesquisar"/>
  </div>

  <section>
    <div>
      <fa-icon class= "icon" [icon]="faUser"></fa-icon>
      <span>Faça seu <a href="/"><strong>Login</strong></a> ou <a href="/"><strong>Cadastre-se</strong></a></span>
    </div>
    <div>
      <fa-icon class= "icon" [icon]="faCartShopping"></fa-icon>
      <span>Seu carrinho tem <strong>0</strong> produtos</span>
    </div>
  </section>
</nav>
