<main>
  <div class="filter dropdown" data-bs-toggle="dropdown">
    <i class="bi bi-funnel"></i>
    <button class="btn dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filtros
    </button>
    <ul class="dropdown-menu">
      <li>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </li>
      <li>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </li>
    </ul>
  </div>
  <div class="order">
    <p>
      A - Z
    </p>
    <div class="icon">
      <span class="line-vertical"></span>
      <i class="bi bi-caret-down-fill"></i>
    </div>

  </div>

</main>
