@import '../../../styles.scss';

main {
  width: 100vw;
  height: auto;
  padding: 35px 108px;

  display: flex;
  align-items: center;
  justify-content: space-between;


  .filter {
    width: 144px;
    height: 35px;
    padding: 9px 38px;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;

    background-color: $falseWhite;
    color: $colorBlue;
    font-size: 1.3rem;
    font-weight: 700;

    button {
      font-weight: 700;
      border: none;
      font-size: 1.2rem;
    }

    li {
      padding: 5px;
    }

  }

  .order {
    width: 144px;
    height: 35px;
    padding: 9px 12px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $falseWhite;
    color: $colorBlue;
    font-size: 1.2rem;
    font-weight: 700;

  }

  .icon {
    display: flex;
    align-items: center;

    span {
      height: 21px;
      margin-right: 12px;
      border: 0.5px solid;
    }
  }

}
