@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$typography: 'Poppins', sans-sarif;

:root {
  --white: #FFFFFF;

  --yellow-500: #FFCB05;

  --blue-100: #5E87A8;
  --blue-300: #004278;

  --gray-100: #F3F3F3;
  --gray-200: #CCCCCC;
  --gray-300: #8B8B8B;
  --gray-500: #5F5F5F;

  --green-500: #05D733;

  font-size: 60%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $typography;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: $typography;
  font-weight: 400;
  font-size: 1rem;
}

button,
a {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

